# Gradle files
.gradle
/build

# IntelliJ (IDE配置文件)
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches

# 本地配置文件 (sdk path, etc)
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store

# Android Studio captures folder
/captures

# 在Android Studio 2.2及更高版本中生成的外部原生构建文件夹
.externalNativeBuild

# Built application 文件
*.apk
*.ap_

# ART/Dalvik VM 文件
*.dex

# Java class 文件
*.class

# Generated 文件夹
bin/
gen/
out/

# 日志文件
*.log

# Android Studio导航编辑器临时文件
.navigation/
